<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scorrer.ravi.scorrer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ChallengesActivity" />
        <activity android:name=".CricketConfigActivity" />
        <activity android:name=".SoccerConfigActivity" />
        <activity android:name=".TennisConfigActivity" />
        <activity android:name=".HockeyConfigActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".CricketScoreActivity" />
        <activity android:name=".SoccerScoreActivity" />
        <activity android:name=".HockeyScoreActivity"></activity>
    </application>

</manifest>